#content {
    background: var(--ant-color-white);
    border-radius: var(--ant-border-radius-lg);
    padding: var(--ant-padding-md);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow: hidden;
}

.projects-list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    /* Change to end if inverted*/
    overflow: scroll;
    /* transform: rotateX(180deg); */
}

/* Keep scrollbar at the bottom or not? */
.invert {
    /* transform: rotateX(180deg); */
}

.card {
    width: 300px;
    height: min-content;
    /* transform: rotateX(180deg); */
}