#content {
    background: var(--ant-color-white);
    border-radius: var(--ant-border-radius-lg);
    padding: var(--ant-padding-md) 0 0 var(--ant-padding-md);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow: hidden;
}

.project-card-title {
    cursor: grab;
}

.goal-card-title {
    margin-bottom: 0px !important;
}

.project-card-editable :global(.ant-typography-edit) {
    opacity: 0;
}

.project-card-editable:hover :global(.ant-typography-edit) {
    opacity: 1;
}

.project-card-title-icon {
    color: var(--ant-color-primary-text);
}

.projects-list-wrapper {
    height: 100%;
    overflow-x: auto;
    border-radius: var(--ant-border-radius-lg);
}

.projects-list {
    height: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: var(--ant-padding-xs);
    margin: 0;
    padding: 0;
    padding-bottom: var(--ant-padding-xs);

    /* 
        Needed spoce on the left of the project list otherwise 
        the drop indicator would not show up when dragging a task to the left

        We don't need it on the right, because there is add project card which 
        adds space and the drop indicator shows up
        Row gap / 2 + 2px of divider width
    */
    padding-left: calc(var(--ant-padding-xs) / 2 + 2px);
}

.project-card-wrapper {
    width: 300px;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    height: 100%;
    overflow: none;
}

.project-card {
    position: relative;
    flex: initial;
    min-height: auto;
    display: flex;
    flex-direction: column;
    height: min-content;
    max-height: 100%;
}

.project-card-header {
    text-wrap: auto;
}

.project-card-title {
    overflow: hidden;
    /* height: auto !important; */
    text-wrap: auto;
}

.project-card-title>textarea {}

div:has(> .project-card-skeleton) {
    height: 100%;
}

.project-card-skeleton {
    position: relative;
    flex: initial;
    min-height: auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.project-card :global(.ant-card-body) {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-card-content {
    display: flex;
    flex-direction: column;

    position: relative;
    height: 100%;
    overflow-y: hidden;
    gap: var(--ant-padding-xs);
}

.project-card-tasks {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0;
    gap: var(--ant-padding-xs);
    height: 100%;
    overflow-y: auto;
    padding-block: calc(var(--ant-padding-xs) / 2 + 2px);
}

.project-card :global(.ant-card-actions) {
    position: relative;
    /* overflow: auto; */
    /* overflow:auto; */
}

.input-wrapper {
    padding-inline: var(--ant-card-body-padding-sm);
}

.project-card-creator {
    width: 300px;
    display: inline-block;
    height: min-content;
    flex-shrink: 0;
}

.project-card-dragged-over {
    border-color: var(--ant-color-primary);
}

.input {
    width: 100%;
}

.create-project-input {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0 !important;
    color: var(--ant-color-text-heading);
    font-weight: var(--ant-font-weight-strong);
    font-size: var(--ant-font-size-heading-3);
    line-height: var(--ant-line-height-heading-3);
    height: auto;
}

.project-card-button-creator {
    width: 300px;
    display: inline-block;
    flex-shrink: 0;
    min-height: var(--ant-card-header-height);
    margin-right: var(--ant-padding-md);
}

.header-title {
    margin-bottom: 0 !important;
}