#header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-split);
    z-index: 1;
}

#header-img {
    padding: var(--ant-padding-xxs);
    width: auto;
    margin: auto;
}


.anchor {
    width: 100%;
    min-width: 0;
    justify-content: center;
    max-height: 100%;

}

.anchor :global(.ant-anchor) {
    gap: var(--ant-padding-sm);
}

@media screen and (max-width: 800px) {
    .anchor :global(.ant-anchor) {
        gap: var(--ant-padding-xxs);
    }
}

@media screen and (max-width: 500px) {
    .anchor :global(.ant-anchor) {
        gap: 0;
    }
}

.avatar {
    background-color: transparent;
    color: black;
    position: fixed;
    right: 0;
    height: var(--ant-layout-header-height) !important;
    width: var(--ant-layout-header-height) !important;
    padding: var(--ant-padding-xxs);
    margin-inline: var(--ant-padding-lg);
}

.avatar>* {
    border-radius: var(--ant-border-radius-lg);
}

.spinner {
    right: 0;
    position: fixed;
    padding: var(--ant-padding-xxs);
    margin-inline: var(--ant-padding-lg);
    height: var(--ant-layout-header-height) !important;
    width: var(--ant-layout-header-height) !important;
}

.avatar :global(.ant-skeleton-avatar) {
    width: 100% !important;
    height: 100% !important;
}

.icons {
    position: fixed;
    left: 0;
    padding: var(--ant-padding-xxs);
    margin-inline: var(--ant-padding-lg);
}

@media screen and (max-width:400px) {
    .icons, .avatar{
        display: none !important;
    }
}