#wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#settings {
    width: 100%;
    display: flex;
    /* background-color: blue; */
}

.settings-button {
    flex: 1;
}