#wrapper {
    height: 100%;
    display: flex;
}

#settings {
    width: 100%;
    display: flex;
    margin-bottom: var(--ant-margin-xs);
    /* background-color: blue; */
}

.button {
    box-sizing: border-box;
    flex: 1;
}

.time-picker * {
    color: var(--ant-button-text-text-color) !important;
}