#content {
    border-radius: var(--ant-border-radius-lg);
    padding: var(--ant-padding-md);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tasks-list {
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.input {
    margin-bottom: var(--ant-margin-xs);
}

.card {
    position: relative;
    display: flex;
    align-items: start;
    width: auto !important;
    flex: 1;
}

.card:hover .grabber {
    opacity: 1;
}

.card-meta {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: flex-start !important;
}

.avatar {
    margin-block: calc(var(--ant-padding-xxs) + 1px); /* Adding the border 1px from button text idk what it is doing there ¯\(ツ)/¯ */
    height: calc(var(--ant-font-size) * var(--ant-line-height));
}

.grabber {
    cursor: grab;
    display: flex;
    opacity: 0;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkbox-wrapper {
    display: flex;
    align-items: start !important;
    justify-content: center;
    padding-top: 8px;
}

.button {
    width: 100%;
    height: 100%;
    align-items: left;
    justify-content: left;
    padding-block: var(--ant-padding-xxs);
}

.header-edit-icon {
    color: var(--ant-color-primary-text);
}

.header-title {
    margin-bottom: 0 !important;
}

.menu-popover-description {
    width: auto;
}

#settings {
    width: 100%;
    display: flex;
    margin-bottom: var(--ant-margin-xs);
}

.tags-divider {
    margin: 0;
}

.tag-popover {
    width: 200px;
}

.button {
    box-sizing: border-box;
    flex: 1;
}

.button-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.button-title {
    text-align: left;
    white-space: normal;
    margin-bottom: 0 !important;
}

.settings-button {
    box-sizing: border-box;
    flex: 1;
}

.tags-button {
    display: flex;
    justify-content: flex-start;
}

.task-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.task-card-dragged {
    opacity: 0.5;
}

.task-card-button {
    min-height: var(--ant-control-height);
    height: auto;
    width:100%;
    box-sizing: border-box;
    flex: 1;
}

.task-card-button-details-wrapper {
    padding-block: var(--ant-padding-xxs);
}

.task-card-button-title {
    text-align: left;
    white-space: normal;
    margin-bottom: 0 !important;
    line-height: var(--ant-line-height) !important;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin: 0;
    gap: var(--ant-padding-xs);
    height: 100%;
    overflow-y: auto;
    padding-block: calc(var(--ant-padding-xs) / 2 + 4px);
  }