@import url('@radix-ui/colors/tomato-dark.css');
@import url('@radix-ui/colors/mauve-dark.css');

.global-mdx-theme {
  /* --baseBg: var(--ant-menu-item-selected-bg); */
  --baseBg: transparent;
}

.toolbar-content {
  display: flex;
  flex-direction: horizontal;
  background-color: var(--ant-color-primary-bg);
  border-radius: var(--ant-border-radius-lg);

  height: var(--ant-control-height-lg);
  justify-content: center;
  align-items: center;
}

.toolbar-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}