#panel {
    padding: var(--ant-padding-lg) var(--ant-padding-lg);
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.home {
    gap: var(--ant-padding-lg);
    display:flex;
    flex-direction: column;
}