.wrapper {
    height: 100vh;
}

.cursor {
    display: inline-block;
    width: 0.1em;
    background-color: var(--ant-color-primary);
    margin-left: -0.1em;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.title {
    text-align: center;
    margin: 0 !important;
}

.important {
    display: inline-block;
    color: var(--ant-color-primary);
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 2px;
}